<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                "사람들이 겪는 불편함을 생각해내고, 이를 해결하는 것을 좋아하는 개발자"
            </p>
            <!-- <p class="paragraph-text justify-text"> -->
                 <!-- <a href="{{ site.blog_url }}">harimms.tistory.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page. -->
            <!-- </p> -->
        </div>
    </section>
</div>
