<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="web" class="semi-transparent-button with-border white-button" onclick="selected('web')">WEB</a>
                    <a id="ios" class="semi-transparent-button with-border white-button" onclick="selected('ios')">iOS</a>
                    <a id="data" class="semi-transparent-button with-border white-button" onclick="selected('data')">Data</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>